.character {
  width: 100%;
}

.character .header {
  border: 1px solid red;
  position: sticky;
}

.character .body {
  padding-top: 60px;
}

.character-item {
  width: 95%;
  height: 128px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid var(--color-bg-line);

  display: flex;
}

.character-item .image {
  display: block;
  width: 128px;
  height: 128px;
}

.character-item .inner {
  margin-left: 10px;
}
