/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* scroll bar */
.scroll-box {
  border: 1px solid black;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#ad90cf, #9fb2dd);
  border-radius: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(230, 230, 230, 0);
  border-radius: 10px;
}

body {
  font-family: "Hahmlet", serif;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url("../src/resources/background.png");
  background-size: cover;
  background-position: 20%;
}

/* grid */
.continer {
  /* display: grid; */
  width: 1200px;
  background-color: #ffffff5b;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 15px;
  backdrop-filter: blur(12px);
  box-shadow: 0px 0px 6px 6px rgba(81, 80, 85, 0.253);
  /* column-gap: 24px;
  row-gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px 1200px 120px; */
}

.item-header {
  display: flex;
  align-items: center;
  height: 70px;
  width: 1200px;
  margin: 0 auto;

  border-bottom: 1px solid white;
  /* grid-column: 1/13;
  grid-row: 1/2;
  */
}

.item-navbar {
  padding: 10px;
  height: 50px;
  width: 1200px;
  margin: 0 auto;

  /* grid-column: 1/13;
  grid-row: 1/2;
  */
}

.item-main {
  max-height: calc(100vh - 340px);
  min-height: calc(100vh - 340px);
  overflow: auto;
  /* 
  grid-column: 1/13;
  grid-row: 2/3; */
}

.item-footer {
  height: 120px;
  padding: 10px;
  /* grid-column: 1/13;
  grid-row: 3/4; */
  border-top: 1px solid white;
}

input[type="text"] {
  border-radius: 8px;
  border: 1px solid transparent;

  background-color: #ffffff73;
  padding: 7px;
  outline: none;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

input[type="text"]:focus {
  background-color: #ffffff;
}

button {
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 5px;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover {
  filter: brightness(0.8);
}
button:active {
  transform: scale(1.1);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

a {
  text-decoration: none;
  text-decoration-line: none;
}
