/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* variable */
:root {
  --color-primary: #c78de2;
  --color-secondary: #8a9adf;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #fafafa;
  --color-bg-line: #d6d2d2;
  --color-object-line: #797979;
  --box-shadow: 0px 0px 10px 3px rgba(81, 80, 85, 0.075);
  font-family: "Orbit", serif;
}

/* font */
.font-noto-serif {
  font-family: "Noto Serif KR", serif;
}
.font-noto-sans {
  font-family: "Noto Sans KR", sans-serif;
}
.font-gothic {
  font-family: "Nanum Gothic", sans-serif;
}
.font-dip {
  font-family: "Diphylleia", serif;
}
.font-orbit {
  font-family: "Orbit", sans-serif;
}
.font-hahmlet {
  font-family: "Hahmlet", serif;
}
.font-grand {
  font-family: "Grandiflora One", serif;
}

/* scroll bar */
.scroll-box {
  border: 1px solid black;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--color-primary), var(--color-secondary));
  border-radius: 10px;
  background-clip: padding-box;
  border-right: 2px solid transparent;
}

::-webkit-scrollbar-track {
  background-color: rgba(230, 230, 230, 0);
}

input[type="text"] {
  border-radius: 8px;
  border: 1px solid var(--color-object-line);
  font-family: "Orbit", serif;

  background-color: white;
  padding: 5px;
  outline-color: var(--color-primary);

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 8px;
  font-family: "Noto Sans KR", serif;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover {
  filter: brightness(0.8);
}
button:active {
  transform: scale(1.08);
}
